<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-4">

<h2>Запись на "{{ mc.title }}"</h2>

<form method="post">
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
    </div>

    <div class="mb-3">
        <input type="text" name="contact" class="form-control" placeholder="Email или Telegram" required>
    </div>

    <button class="btn btn-success">Отправить</button>
</form>

<br>
<a href="/">Назад</a>

</body>
</html> 
